<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Super.setup()[pri:0, instance:Test_pack.Super@197d671]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1374026904</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:47</td>   <td>9280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Super.userblank()[pri:0, instance:Test_pack.Super@197d671]">userblank</td> 
  <td>main@1374026904</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:52</td>   <td>14461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Super.SS(org.testng.ITestResult)[pri:0, instance:Test_pack.Super@197d671]">&lt;&lt;SS</td> 
<td>&nbsp;</td>  <td>main@1374026904</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:52</td>   <td>14468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Super.passwordblank()[pri:1, instance:Test_pack.Super@197d671]">passwordblank</td> 
  <td>main@1374026904</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:57</td>   <td>19744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Super.SS(org.testng.ITestResult)[pri:0, instance:Test_pack.Super@197d671]">&lt;&lt;SS</td> 
<td>&nbsp;</td>  <td>main@1374026904</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>21/04/09 16:12:58</td>   <td>20550</td> <td>&nbsp;</td><td title="&lt;&lt;Super.aftertest()[pri:0, instance:Test_pack.Super@197d671]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1374026904</td>   <td></td> </tr>
</table>
